.home-container {
    text-align: center;
    margin-top: 30px;
    /* background-image: url("../../images/cudna.png"); */
    min-height: 500px;
   
}

#bg-img {
    background-image: url("../../images/cudna.png");
    min-height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.home-container form {
    font-size: 21px;
}

.home-container form input {
    margin-left: 20px;
}

.input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search {
    width: 75%;
    margin-top: 30px;
    padding: 10px;
    font-size: 16px;
}

.error-red {
    color: red;
    margin-top: 20px;
}

@media (max-width:450px) {
    .input-wrapper {
        display: flex;
        flex-direction: column;
    }
}
