.country-item {
    height: 400px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 999999999999999999999999999999999999;
    background: white;
}

.country-item div img {
    width: 100%;
    height: 250px;
}

.country-item p {
    margin-top: 15px;
}